[Unit]
Description=gofr
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory=/home/{{ user }}/gofr/gofr-backend
ExecStart={{ executable }} start
Restart=on-failure

Environment='mCSD__server__protocal=http'
Environment='mCSD__server__host=localhost'
Environment='mCSD__server__port=8080'
Environment='mCSD__server__basePath=fhir'
Environment='app__installed=false'
Environment='app__idp=gofr'
Environment='REDIS_HOST=redis'

# keycloak is not enabled but leaving this here for future reference
Environment='keycloak__baseURL=http://keycloak:8084/auth'


[Install]
WantedBy=multi-user.target